.title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.queuing-system{
    display: flex;
    width: 100%;
    padding: 16px;
    border: 3px rgb(214, 181, 176) solid;
    justify-content: space-around;
}

app-phase{
    display: flex;
}