<div>
  <h3 class="title">Система моделирования</h3>
  <div class='queuing-system'>
    <app-phase [channels]='model.queuingSystem.firstPhase.channels'>
      <app-accumulator style="display: flex; align-items: center; margin-right: 16px;" [tasks]='model.queuingSystem.accumulator.tasks' [accumulatorCapacity]='model.queuingSystem.accumulator.accumulatorCapacity'>
      </app-accumulator>
    </app-phase>
    <app-phase [channels]='model.queuingSystem.secondPhase.channels'></app-phase>
  </div>
</div>