<div *ngIf='isStarted'>
    <div class='queuing-system'>
        <app-source-tasks [tasks]='model.sourceTasks'></app-source-tasks>
        <app-queuing-system [model]='model'></app-queuing-system>
        <app-completed-tasks [completedTasks]='model.completedTasks'></app-completed-tasks>
    </div>
    <app-rejected-tasks [rejectedTasks]='model.rejectedTasks'></app-rejected-tasks>
</div>

<div *ngIf='isReady && isShowStatistics' class='dialog'>
    <div class='close-button' (click)='closeDialog()'>
        X
    </div>
    <app-results  [results]='model.results'>

    </app-results>
    <app-chart [results]='results' [i]='i'></app-chart>
</div>


<button (click)='showStatistics()' [disabled]='!isReady'>Показать статистику</button>
<button (click)='start()'>Запустить</button>