.accumulator-container{
    height: 30px;
    width: 100%;
    display: flex;
}

.task{
    height: 30px;
    width: 30px;
    border: 1px solid white;
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: rgb(71, 71, 71);
}

.empty{
    background-color: rgb(255, 237, 214);
}

.busy{
    background-color: rgb(255, 255, 190);
}